@import "reset.css";

@font-face {
    font-family: AppleChanary;
    src: url("fonts/Apple Chancery.ttf");
}

html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: verdana, sans-serif;
	display: block;
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

p {
	display: block;
	font-family: georgia, serif;
	margin-top: 1em;
	margin-bottom: 1em;
}

body {
	min-height: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	text-align: center;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;	
}

header > h1 {
	font-family: cursive;
}

section {
	display: block;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 20px;
	margin-top: -3px;
}


