nav {
    width: 100%;
    background-color: #333;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    border: 0;
    border-top-width: 1px;
    border-left-width: 1px;
	border-style: solid;
    border-color: black;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	border-style: inherit;
    border-color: inherit;
}

nav > ul > li {
    flex-shrink: 100;
    flex-grow: 100;
    flex-basis: 10%;
	border-style: inherit;
    border-color: inherit;
}

nav > ul > li > a {
	display: block;
    padding: 0.6em;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.5em;
	color: white;
    border-right-width: 1px;
    border-bottom-width: 1px;
	border-style: inherit;
    border-color: inherit;
}

nav > ul > li > a.selected {
	background-color: #4CAF50;
	font-weight: bold;
}

nav > ul > li > a:hover {
	transition: all 1s;
	background-color: rgba(76, 176, 80, 0.5);
}

nav > ul:first-child > li > a {
    border-top-width: 1px;
	border-style: inherit;
    border-color: inherit;
}

nav > h1 {
	order: -1;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0;
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-family: AppleChanary, Apple Chancery, URW Chancery L, cursive;
    color: white;
}



