nav {
	flex-direction: row;
	border-bottom: 1px solid;
	border-left: 0;
}

nav > ul > li > a {
	border-bottom: 0;
}

nav > ul:first-child > li > a {
	border-top: 0;
}

nav > ul > li:first-child > a {
	border-left: 1px solid black;
}

nav > ul:last-child > li:last-child > a {
	border-right: 0;
}

nav > h1 {
	order: 0;
}