section.recipe {
	grid-template-rows: minmax(5em, auto) auto auto auto;
	grid-template-columns: 3fr 1fr 2fr 2fr;
	grid-template-areas:
		"image image title title"
		"image image summary summary"
		"ingredients instructions instructions instructions"
		"comments comments comments comments";
}